/* Variables CSS */


@import url(variables.css);




/* Container for sides of web page */
.container{
    font-size: 25px;
}


#photos {
    column-gap: 2%;
    row-gap: 10px;
    margin: 20px auto;
    min-height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "pics about faq"
}


/* Pictures for web page */
#pics {
    grid-area: pics;
    padding: 20px;
    background-color: var(--dark-beige);
    color: var(--white);
    border-radius: 15px;

}

/* Image styling */
img {
    border-radius: 15px;
}

/* About section of web-page */
#about {
    grid-area: about;
    padding: 20px;
    background-color: var(--green);
    color: var(--dark-text);
    border-radius: 15px;
}

/* Social-media about box */

#box-media {
    grid-area: media;
    outline: 5px dotted var(--brown);
    background-color: var(--white);
    color: var(--brown);
    border-radius: 15px;
    padding: 0 20px;
}

/* FAQ box */
#faq {
    grid-area: faq;
    padding: 20px;
    background-color: var(--brown);
    color: var(--white);
    border-radius: 15px;
}