@import url(variables.css);

#container {
        column-gap: 2%;
        row-gap: 10px;
        margin: 20px auto;
        min-height: 500px;
        display: flex;
        justify-content: center;
    }
    
    #form {
        width: 80%;
        background-color: var(--white);
        color: var(--dark-text);
        border-radius: 15px;
        padding: 10px;
    }

    form {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .field {
        margin-top: 5px;
        padding: 3px 0;
    }

    label {

    }

    input[type=text] {
        border-radius: 5px;
        width: 85%;
    }

    input[type=tel] {
        border-radius: 5px;
        width: 85%;
    }

    input[type=button] {
        border-radius: 5px;
        width: 5%;
    }
    
    #adopt-info {
        width: 80%;
        background-color: var(--white);
        color: var(--dark-text);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "image text text"
        "image text text"
        ". link ."
    }

    img {
        grid-area: image;
        width: 90%;
        border-radius: 50%;
        align-self: center;
    }

    p {
        grid-area: text;
    }

    #formlink {
        grid-area: link;
    }

    /* Tablet display */
    /* Removes the image from the information sections and compresses the footer */
    @media (max-width:960px)
    {
        #adopt-info {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "text"
            "text"
            "text";
        }
        img {
            display: none;
        }
        footer > section {
            min-width: 25%;
        }
    }

    /* Phone display */
    /* Moves the adoption form below the information box and stacks the footer boxes below each other */
    @media (max-width:768px)
    {
        footer {
            flex-direction: column;
            align-items: center;
        }

        footer > section {
            min-width: 75%;
        }
    }