@import url(variables.css);

*{
    box-sizing: border-box;
}

body{
    background-color: var(--beige);
    width: 90%;
    margin: 20px auto;
    color: var(--brown);
    font-family: 'Courier New', Courier, monospace;
}

header{
    border: 4px solid var(--green);
    text-align: center;
    padding: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: var(--white);
}

