@import url(variables.css);

*{
    box-sizing: border-box;
}

body{
    background-color: var(--beige);
    width: 90%;
    margin: 20px auto;
    color: var(--brown);
    font-family: 'Courier New', Courier, monospace;
}

