@import url(variables.css);

*{
    box-sizing: border-box;
    font-family: 'Nunito', cursive;
}

body{
    background-color: var(--beige);
    width: 80%;
    margin: 20px auto;
    color: var(--brown);
}

i{
    position: absolute;
}

#dog-icon{
    top: 77px;
    left: 200px;
    color: var(--dark-text);
}

#coffee-icon{
    top: 77px;
    right: 200px;
    color: var(--dark-text);
}

header{
    text-align: center;
    padding: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: linear-gradient(var(--white), var(--white), var(--beige));
}

#site-name{
    font-size: 3.5em;
    margin-bottom: 0;
    letter-spacing: 17px;
    text-shadow: 2px 2px 3px #000;
}

#navbar{
    background-color: var(--green);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    margin-bottom: 35px;
}


#nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}
#navbar li{
    text-align: center;
    width: 20%;
    display: inline;
}

#navbar a{
    display: block;
    text-decoration: none;
    color: var(--brown);
    font-weight: bold;
    font-size: 1.2em;
}

#nav-list a.active{
    color: var(--white);
    text-shadow: 1px 1px 2px var(--brown);
}

#nav-list a:hover{
    color: var(--dark-text);
    text-shadow: none;
}

#footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-top: 20px;  
}

footer > section{
    background-color: var(--green);
    min-width: 20%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid var(--brown);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    flex-wrap: wrap;
}

footer p{
    margin: 5px;
}

footer a{
    color: var(--brown);
}

.foot-title{
    font-weight: bold;
}
