@import url(variables.css);
/* Desktop */

.container {
	column-gap: 2%;
	row-gap: 10px;
    margin: 20px auto;
    min-height: 500px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
    "sidebar content content"
}

#header {
    border: none;
}

aside {
    grid-area: sidebar;
}

main {
    grid-area: content;
}

aside img {
    width: 400px;
    height: 350px;
    display: block;
    border-radius: 50%;
    margin-top: 70px;
}

h2 {
    text-align: center;
}
.info {
   padding: 20px; 
   text-align: center;
}

.image img{
    display: flex;
    justify-content: center;
    border-radius:5%;
    margin: 30px auto;
}

h3 {
    text-align: center;
}

/* Small desktop */

@media (max-width:1200px) {

    footer > section {
        min-width: 250px;
    }
}

/* Tablet */

@media (max-width:960px) {

        footer > section {
            min-width: 190px;
        } 
    }

    /* Mobile */

/* @media (max-width:768px) {


} */