@import url(variables.css);

i{
    position: absolute;
}

#dog-icon{
    top: 77px;
    left: 200px;
    color: var(--dark-text);
}

#coffee-icon{
    top: 77px;
    right: 200px;
    color: var(--dark-text);
}

#site-name{
    font-size: 3.5em;
    margin-bottom: 0;
    letter-spacing: 17px;
    text-shadow: 2px 2px 3px #000;
}

#menu-container{
    width: 99%;
    margin: 0 auto;
    display: grid;
    color: var(--beige);
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "drinks dogmenu fika"
    "drinks dogmenu fika"
    "drinks swmenu lunch"
    "drinks swmenu info"
    ;
}

#drink-menu, #dog-menu, #sandwich-menu, #fika-menu, #info-box{
    background-color: var(--brown);
    border-radius: 15px;
    padding: 0 20px;
}

#drink-menu{
    grid-area: drinks;
}

#dog-menu{
    grid-area: dogmenu;
}

#sandwich-menu{
    grid-area: swmenu;
}

#fika-menu{
    grid-area: fika;
}

#lunch-menu{
    grid-area: lunch;
    border: 5px dotted var(--brown);
    background-color: var(--white);
    color: var(--brown);
    border-radius: 15px;
    padding: 0 20px;
}

#info-box{
    grid-area: info;
}

.item p, h3{
    display: inline-block;
}

.item-name, .menu-title{
    text-align: left;
    width: 70%;
}

.price{
    text-align: right;
    width: 30%;
}

.menu-title{
    color: var(--white);
}

#lunch-title{
    color: var(--brown);
}