@import url(variables.css);

#menu-text-box{
    width: 99%;
}

#text-sec{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: var(--dark-beige);
    color: var(--brown);
    border-radius: 35px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 20px;
}

#text-sec p{
    padding: 5px;
    margin: 0;
}

#menu-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-list li{
    background-color: var(--brown);
    text-align: center;
    display: inline;
    width: 15%;
}

#menu-list a{
    display: block;
    text-decoration: none;
    color: var(--beige);
    padding: 10px;
}

#menu-list a.active{

}

#menu-list a:hover{

}

#menu-container{
    width: 99%;
    margin: 0 auto;
    display: grid;
    color: var(--beige);
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "drinks drinks dogmenu dogmenu fika fika"
    "drinks drinks dogmenu dogmenu fika fika"
    "drinks drinks swmenu swmenu lunch lunch"
    "drinks drinks swmenu swmenu info info"
    ;
}

#drink-menu, #dog-menu, #sandwich-menu, #fika-menu, #info-box{
    background-color: var(--brown);
    border-radius: 15px;
    padding: 0 20px;
}

/* #text-sec1{
    grid-area: text1;
    background-color: var(--dark-beige);
    color: var(--brown);
    border-radius: 35px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 20px;
}

#text-sec2{
    grid-area: text2;
    background-color: #ded1ba;
    color: var(--brown);
    border-radius: 35px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 20px;
} */

#drink-menu{
    grid-area: drinks;
}

#dog-menu{
    grid-area: dogmenu;
}

#sandwich-menu{
    grid-area: swmenu;
}

#fika-menu{
    grid-area: fika;
}

#lunch-menu{
    grid-area: lunch;
    outline: 5px dotted var(--brown);
    background-color: var(--white);
    color: var(--brown);
    border-radius: 15px;
    padding: 0 20px;
}

#info-box{
    grid-area: info;
}

.item p, h3{
    display: inline-block;
}

.item-name, .menu-title{
    text-align: left;
    width: 70%;
}

.price{
    text-align: right;
    width: 30%;
}

.menu-title{
    color: var(--white);
}

#lunch-title{
    color: var(--brown);
}

#coffee-included{
    text-align: end;
}

/* .foot-title{
    font-weight: bold;
} */