:root {
    /*setting up our main colours for the website*/
    --beige: #e4d8bf;
    --green: #c0db9d;
    --brown: #5b3813;
    --white: #f1ecd1;
    --dark-text: #2c1212;
    --dark-beige: #ded1ba;

    /*Main font*/
    --main-font: nunito, sans-serif;

    /* Main border radius */
    --bord-rad: 15px;
}